[tool.poetry]
name = "aiopygismeteo"
version = "4.0.0"
description = "Asynchronous wrapper for Gismeteo.ru API"
authors = ["monosans <hsyqixco@protonmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/monosans/aiopygismeteo"
documentation = "https://aiopygismeteo.readthedocs.io"
classifiers = [
    "Intended Audience :: Developers",
    "Natural Language :: Russian",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.7.4"
pygismeteo-base = "^2.1.0"

[tool.poetry.dev-dependencies]
black = "^21.12b0"
isort = "^5.10.1"
mypy = "^0.931"
mkdocs = "^1.2.3"
mkdocs-material = "^8.1.8"
pre-commit = "^2.17.0"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pytest-asyncio = "^0.17.2"

[tool.black]
line-length = 79
skip-magic-trailing-comma = true

[tool.isort]
profile = "black"
line_length = 79

[tool.mypy]
strict = true

[tool.pytest.ini_options]
addopts = "--strict-markers --strict-config --cov --asyncio-mode=auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
